.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}

#bck {
    width: 600px;
    height: 7px;
    background-image: url('../img/water.png');
    position: absolute;
    visibility: visible;
    top: 203px;
}

#rescueBoat {
    width: 50px;
    height: 50px;
    background-color: black;
    background-image: url('../img/RescueBoat.png');
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.jump {
    animation: jump 1s linear;
}

@keyframes jump {
    0% {
        top: 50px;
    }

    30% {
        top: 60px;
    }

    50% {
        top: 70px;
    }

    60% {
        top: 75px;
    }

    80% {
        top: 80px;
    }

    90% {
        top: 90px;
    }

    100% {
        top: 100px;
    }
}


#brokenBoat {
    width: 20px;
    height: 21px;
    position: relative;
    top: 127px;
    left: 580px;
    background-image: url("../img/BrokenBoat.png");
    background-size: 20px 40px;
}

#rock{
    width: 20px;
    height: 40px;
    position: relative;
    top: 90px;
    left: 580px;

    background-image: url("../img/rock.png");
    background-size: 20px 40px;
}

.brokenBoatAnim {
    animation: blockBoat 4s infinite linear;
}

.rockAnim {
    animation: blockRock 5s infinite linear; 
}

@keyframes blockBoat {
    0% {
        left: 600px;
    }

    100% {
        left: -20px;
    }
}

@keyframes blockRock {
    0% {
        left: 750px;
    }

    100% {
        left: -20px;
    }
}

#restartDiv {
    width: 10%;
    margin:0 auto;
}